<!DOCTYPE html>
<html>
  <head>
    <title>Playlists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="back-container">
      <form action="/" method="get">
        <button class="secondary-btn" type="submit">&lt;&lt;</button>
      </form>
    </div>
    <h1>Playlists</h1>
    <ul>
      {% for playlist in playlists %}
        <li>{{playlist.name}}: {{playlist.count}} tracks</li>
      {% endfor %}
    </ul>
  </body>
</html>